body {
    background-color: rgb(39,39,39);
    color: rgb(148, 148, 148);
    font-family: monospace;
    font-size: 18px;
}

.centered {
    padding: 5px;
    margin: 0 auto;
    min-width: 300px;
    max-width: 1000px;
}

.header {
    text-align: center;
    font-size: 28px;
    margin: 1em 0;
}

.add-form {
    padding: 5px;
}

.add-form_dark {
    width: 95%;
    margin: 0 auto;
    background-color: rgb(54, 54, 54);
    border: 1px solid rgb(54,54,54);
    border-radius: 3px;
}

.add-form__input_dark {
    width: 100%;
    background-color: rgb(54, 54, 54);
    color:rgb(148, 148, 148);
    font-size: 18px;
    border: 0;
}

.search-form {
    margin: 10px 0;
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-form-buttons {
    display: flex;
}

.search-form-buttons__button_dark {
    background-color: rgb(54, 54, 54);
    border: 1px solid rgb(54,54,54);
    border-radius: 3px;
    color: rgb(148, 148, 148);
    padding: 5px;
    font-size: 14px;
    margin-right: 5px;
}

.search-form-sort {
    display: flex;
}

.search-form-sort__text {
    display: flex;
    align-items: center;
    font-family: Arial;
    font-size: 14px;
}

.search-form-sort__button {
    padding: 0px;
    background: none;
    border: 0;
}
.search-form-sort__image {
    height: 100%;
}

.post {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.post__apply {
    display: inline;
}

.post__text {
    display: inline;
    flex-grow: 1;
    margin: 0 5px;
}

.post__text-input {
    width: 100%;
}

.post__text-input_dark {
    font-family: monospace;
    font-size: 20px;
    background-color: rgb(54, 54, 54);
    border: 1px solid rgb(54,54,54);
    border-radius: 3px;
    color:rgb(148, 148, 148);
    text-decoration: none;
}

.post__text-input_completed {
    text-decoration: line-through;
}

.post__time {
    margin-right: 5px;
}

.post__time_size_s{
    font-size: 12px;
}

.post__delete {
    padding: 0px;
    background: none;
    border: 0;
}
.post__delete-image {
    height: 24px;
    width: 24px;
}

.pages {
    margin: 2em 0;
}

.pages__block {
    justify-content: center;
    display: flex;
    margin: 0 auto;
}
.pages__block_dark {
    color: rgb(148, 148, 148);
}
.pages__page {
    display: inline;
}
.pages__page-button {
    padding: 5px;
    height: 30px;
    width: 30px;
    background: none;
    border: 0;
}
.pages__page-button_dark {
    color: rgb(148, 148, 148);
}
.pages__page-button_selected {
    background-color: rgb(54, 54, 54);
}